* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
h1 {
    text-align: center;
    margin: 2em;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.container h2, .container h3 {
    margin: 0.5em;
}
.container .formError {
    color: red;
}
.container .formSuccess {
    color: green;
}
.container .inputError {
    box-shadow: 0 0 5px red;
}